body {
  background-color: gainsboro;
  user-select: none;
}

.container__cells {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  background-color: darkgray;
  max-width: 360px;
  padding: 2px;
  font-family: Tahoma;
}

.cell__active {
  color: black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.cell__passive {
  cursor: default;
}

.cell__display {
  grid-column: 1 / 5;
  color: black;
  background-color: snow;
  padding: 20px;
  font-size: 24px;
  height: auto;
  text-align: right;
  word-break: break-all;
  cursor: default;
  user-select: text;
}

.cell__clear {
  grid-column: 1 / 3;
  background-color: gainsboro;
}

.cell__back {
  grid-column: 3 / 5;
  background-color: gainsboro;
}

.cell__math {
  grid-column: 1fr;
  background-color: gainsboro;
}

.cell__num {
  grid-column: 1fr;
  background-color: snow;
}

.cell__equal {
  grid-column: 1fr;
  background-color: silver;
}

.cell__active:hover {
  background-color: dimgray;
  color: azure;
}
